@import "reset";
@import "var";
@import "mixins";
@import "ico";
@import "fonts";
@import "font-awesome";
@import "carousel";

.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Open Sans';
}

.header {
	@include clear;
	background-color: $baseColor;
	min-height: 40px;
	color: white;
	a {
		color: white;
		text-decoration: none;
	}
	.siteName {
		float: left;
		$siteNameWidth: 140px;
		width: $siteNameWidth;
		line-height: 40px;
	}
	.siteNav {
		float: right;
		width: calc(100% - $siteNameWidth);
		nav {
			li {
				list-style: none;
				display: inline-block;
				margin-right: -4px;
				a {
					display: block;
					line-height: 40px;
					font-size: 20px;
					padding: 0 10px;
					&:hover {
						background-color: lighten($baseColor, 5);
					}
				}
			}
		}
	}
}

.page-heading {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 100;
}
.utils-table {
	width: 100%;
	display: table;
	.utils-row {
		width: 100%;
		display: table-row;
		border-left: 1px solid #f0f0f0;
		&:nth-child(2n) {
			background-color: #f9f9f9;
		}
		.utils-col { 
			display: table-cell;
			padding: 10px;
			border-right: 1px solid #f0f0f0;
			border-top: 1px solid #f0f0f0;
		}
	}
}


@import "adaptive";
